# Project exclude paths
/spring-01-ioc1/target/
/spring-02-hellospring/target/
/spring-03-ioc2/target/
/spring-04-di/target/
/spring-05-autowired/target/
/spring-06-anno/target/
/spring-07-appconfig/target/
/spring-08-proxy/target/
/spring-09-aop/target/
/spring-10-mybatis/target/